/* APP */
@font-face{
  font-family : Sofia;
  src: url(../fonts/Sofia-Regular.ttf)
}

.App_background {
  background : url(../components/Photos/Seattle-Space-Needle_2.jpg);
  background-size: cover;

  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas:
      "titulo titulo"
      "form form"
      "calendar map"
      "footer footer";
  grid-template-rows: 13% 5% 75% 10%;
  grid-gap: 5px;
  width: 230vh;
  height: 150vh;
  margin: auto;
}

.title {
grid-area: titulo;
background-color: pink;
text-align: center;
}

.App-header {
  font-family: Sofia, sans-serif;
  font-size: 70px;
}

.form {
  grid-area: form;
  /* background-color: green; */

  text-align:end;
  /* align-items: baseline; */
  align-self: center;
  /* left: 20px; */
  /* position: absolute; */
  /* right: 10px; */
}

/* .subscription-form {
  align-content:flex-end;
  position: relative;
  right: 10px;
} */

aside {
  grid-area: calendar;
  /* background-color: gold; */
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  }

.event-list{
  padding: 10px;
  box-shadow: 5px 10px 90px 1px rgb(15, 15, 15) ;
  background-size: cover;
  width: 65vh;
  height: 40vh;
  padding-bottom: 0%;
  overflow: scroll; 
}

.event-list-holder{
  overflow: scroll;
}
  
main {
    grid-area: map;
    /* background-color: blue; */
    align-content: center;
    }
    

footer {
  grid-area: footer;
  color: white;
  font-size: larger;
  text-align: center;
  /* background-color: orange; */
}

.link-web-site{
  color: purple
}

.button-link {
  display: inline-block;
  padding: 5px 10px;
  font-size: 15 px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: lightpink;
  border: none;
  border-radius: 18px;
  box-shadow: 0 5px #999;
}

.button-link:hover {background-color: black}

.button-link:active {
  background-color: pink;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

.error-data {
  color: white;
  background-color: red;
  /* -webkit-text-stroke: 2px black; */
  /* text-emphasis: triangule blue; */
  /* text-emphasis-style: "*"; */

}