/* APP */
@font-face{
  font-family : Sofia;
  src: url(../fonts/Sofia-Regular.ttf);
}

@font-face {
  font-family : Montserrat_alte_2;
  src:  url(../fonts/MontserratAlternates-Regular.ttf);
}

@font-face {
  font-family : Montserrat_alte_3;
  src:  url(../fonts/MontserratAlternates-Medium.ttf);
}

body{
  background : url(../components/Photos/Seattle-Space-Needle_2.jpg);
  background-size: cover;
}
.App_background {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas:
      "titulo titulo"
      "form form"
      "calendar map";
  grid-template-rows: 10% 10% 80% ;
  grid-gap: 5px;
  width: 260vh;
  height: 135vh;
  margin: auto;

  -webkit-transform:scale(0.85);
  -moz-transform:scale(0.85);
  -ms-transform:scale(0.85);
  transform:scale(0.70);
  -ms-transform-origin:0 0;
  -webkit-transform-origin:0 0;
  -moz-transform-origin:0 0;
  transform-origin:0 0;
}

.title {
grid-area: titulo;
text-align: center;
position: static;
}

.App-header {
  font-family: Sofia, sans-serif;
  font-size: 9.5vh;
}

.form {
  grid-area: form;
  text-align:end;
  align-self: center;
  padding-top: 50px;
}

/* contact_info */
input{
  font-family:  Montserrat_alte_2;
  font-size: 2vh;
}

.subscription-form {
  align-content:flex-end;
  position: relative;
  right: 35px;
}

aside {
  grid-area: calendar;
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  }

/* Selected date */
.text-center{
  font-family:  Montserrat_alte_3;
  font-size: 4vh;
}

.event-list{
  padding: 10px;
  box-shadow: 5px 5px 70px 1px rgb(15, 15, 15) ;
  background-size: cover;
  width: 70vh;
  height: 40vh;
  padding-bottom: 0%;
  font-family : Montserrat_alte_2;
  font-size: 1.8vh;
}

.event-list-holder{
  overflow: scroll;
}
  
main {
    grid-area: map;
    align-content: center;
    }
  
/* Title map */
h2{
      font-family: Montserrat_alte_3;
      font-size: 4vh;
    }

.link-web-site{
  color: rgb(92, 9, 92)
}

.button-link {
  display: inline-block;
  padding: 5px 10px;
  font-size: 15 px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(226, 145, 159);
  border: none;
  border-radius: 18px;
  box-shadow: 0 5px #999;
}


.button-link:hover {background-color: black}

.button-link:active {
  background-color: rgb(236, 161, 174);
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

.error-data {
  color: white;
  background-color: red;
}

h3 {
  color: white;
  font-size: larger;
  position: relative;
  left: 939px;
}