
.map-h2 {
padding: 20px;
padding-right: 0px;
text-align: center;
}

.google-map {
margin: auto;
width: 90%;
padding: 8px;
}

.pin-icon {
font-size: 3vw;
}


@media screen and (min-width: 799px) {
.google-map {
height: 80vh;
}
}
